<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!---->
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="shortcut icon" href="https://imgur.com/MLrACTC.png">
    <!-- SCALING -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="text-align: center; padding: 5%;">
<div style="margin-left: 20%; margin-right: 20%; padding: 0">
    <h3 style="font-family: 'Roboto', sans-serif; font-size: 300%; margin: 0;">
        Looks like you've taken a wrong turn! <br>
        Click anywhere to go back to our home page  </h3>
</div>
<script>
    document.addEventListener('click', () => {location.href = '/'}, true);
</script>
</body>
</html>