<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!---->
    <meta charset="UTF-8">
    <title> About </title>
    <link rel="shortcut icon" href="https://imgur.com/MLrACTC.png">
    <!-- SCALING -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="main" align="center" style="font-family: 'Roboto', sans-serif;">
    <h2> About </h2>
    <hr>
    <div class="accordion" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        What is this?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        This website pulls article headings and summaries from a variety of sources,
                        such as the New York Times, Wall Street Journal, and NPR News, and constructs
                        sometimes reasonable and other times funny sounding article headings and
                        summaries using markov chains.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How does it get data?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Using BeautifulSoup4, Markov News scrapes the sources' websites and filters by
                        heading and summary class. The code for this is located
                        <a href="https://github.com/SimonBerens/MarkovNews/blob/master/web_scrape.py"> in this file. </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What are markov chains?
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Markov chains are giant matrices. In the case of text, they create
                        a square* matrix of size however many unique words there are. Then, for each
                        word in a row, they count how many times that word has followed the word of the
                        row. To generate a chain, you randomly select a word based on how many times it has
                        appeared after the current word you just generated.
                        <br>
                        * In reality, most of the values in the matrix would be 0 so you would optimize it
                        by using a hash map of arrays or something similar, and add words in as you go along.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2> GitHub </h2>
    <hr>
    <input type="button" class="btn btn-outline-primary btn-block" value="View Code"
           onclick="location.href = 'https://github.com/SimonBerens/MarkovNews/';">
</div>
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    $(() => {
        const mobile = $(window).width() < 1000;
        $("#main").css("padding", mobile? "5%": "20%")
        $("#main").css("padding-top", "5%")
    })
</script>
</body>
</html>