<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!---->
    <meta charset="UTF-8">
    <title>Markov News</title>
    <link rel="shortcut icon" href="https://imgur.com/MLrACTC.png">
    <!-- SCALING -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="text-align: center; padding: 5%;">
<div class="markov">
    <h1 style="font-family: 'Poiret One', cursive; font-weight: bolder;"> Markov News </h1>
    <hr>
</div>
<div class="news" style="font-family: 'Roboto', sans-serif;">
    <h5 class="headline" > {{ headline }} </h5>
    <hr>
    <p class="summary" style="margin: 2% 6%; color: dimgrey">
        {{ summary }}
    </p>
    <input type="button" class="btn btn-outline-primary" value="About" onclick="location.href = '/about';">
    <input type="button" class="btn btn-outline-primary" value="Other News" onclick="location.href = '/';">
</div>
{# Bootstrap #}
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.css"></script>
<script>
    $(() => {
        const mobile = $(window).width() < 1000;
        $("h1").css("font-size", mobile? "300%": "700%");
    })
</script>
</body>
</html>